<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <div class="not_login" th:if="${block_user == true}">
        <form action="/logins" method="post">
            <p>Name</p>
            <input name="mail" type="text">
            <p>Password</p>
            <input name="password" type="password">

            <button type="submit">로그인</button>
        </form>
    </div>
    <div class="not_login" th:if="${block_user == false}">
        <h1>반갑스빈다</h1>
    </div>
</body>
</html>